html, body {
  font-family: 'Rubik', sans-serif;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #0387c0;
  color: #FFF;
  padding: 1% 0;
  font-size: 1.6em;
  border: 0;
}

.navbar-brand {
  float: left;
  min-height: 65px;
  padding: 0 15px 15px;
}

.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus,
.navbar-inverse .navbar-nav .active a:hover {
  color: #FFF;
  background-color: #0387c0;
}

.navbar-inverse .navbar-nav li a {
  color: #D5D5D5;
}

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  text-transform: uppercase;
  text-shadow: 2px 2px #000;
}

.btn {
  font-size: 18px;
  color: #FFF;
  padding: 12px 22px;
  background-color: rgba(0,0,0,0.4);
}

.btn:hover {
  color: #D5D5D5;
  background-color: rgba(0,0,0,0.7);
}

.container {
  margin: 4% auto;
  min-height: 100%;
}

.portfolio-item {
    margin-bottom: 30px;
}

.img-portfolio {
    margin: 0 auto;
}

.img-portfolio:hover {
    opacity: 0.8;
}

a {
  color: #FFF;
}

a:hover {
  color: #03c09b;
  text-decoration: none;
}

#icon {
  max-width: 200px;
  margin: 1% auto;
}

footer {
  width: 100%;
  background-color: #0387c0;
  padding: 1%;
  color: #FFF;
}

#footer_icon {
  margin-top: 125px;
  vertical-align: middle;
}

.fa {
  padding: 15px;
  font-size: 45px;
  color: #FFF;
}

.fa:hover {
  color: #03c09b;
  text-decoration: none;
}

@media(max-width: 900px) {
  .carousel-caption {
    top: 40%;
    transform: translateY(-50%);
    text-transform: uppercase;
    text-shadow: 2px 2px #000;
  }
  .fa {
    font-size: 25px;
    padding: 10px;
  }
}

@media (max-width: 769px) {
  #footer_icon {
    margin-top: 0px;
  }
}

@media (max-width: 600px) {
  .carousel-caption {
    font-size: 1px;
    top: 30%;
    transform: translateY(-50%);
    text-transform: uppercase;
    text-shadow: 2px 2px #000;
  }
  #carousel_button {
    display: none;
  }
  #icon {
    max-width: 150px;
  }
  h2 {
    font-size: 1.7em;
  }
  #footer_icon {
    margin-top: 0px;
  }
}

@media (max-width: 345px){
  .carousel-caption {
    display: none;
  }
  #footer_icon {
    margin-top: 0px;
  }
}
